# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
v/

# Sqlite db's
*.db
db.sqlite3

# Log files
*.log

# Env files
*.env

# Hydrogram session files
*.session
*.session-journal
*.session-shm
*.session-wal
